<h3>{{title}}</h3>

<form method="post">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" value={{data.Nombre}}>
    <label for="nombre">Cantidad de cursos</label>
    <input type="text" name="cursos" value={{data.CantidadCursos}}>
    <input type="submit" value="Guardar">
</form>