<ul>
    <li><a href="/form-alumno">Crear alumno</a></li>
    <li><a href="/list-alumnos">Listar alumnos</a></li>
    <li><a href="/crear-instructor">Crear instructor</a></li>
    <li><a href="/list-instructures">Listar instructores</a></li>
</ul>